/*  COMPONENTS  */

  /* breadcrumbs */
  .breadcrumbs_it{
    float: left;
    position: relative;
    margin-right: 9px;
    padding-right: 13px;
  }
    .breadcrumbs_link{
      display: inline-block;
    }
    .breadcrumbs_link,
    .breadcrumbs_current{
      color: #787878;
      font-size: 14px;
    }
      .breadcrumbs_link:hover{
        color: #323232;
        text-decoration: none;
      }

      [data-arrow-img="arrow_right_grey"]:after{
        display: block;
        position: absolute;
        right: 0;
        top: 6px;
        content: "";
        background: url(../images/icon/icon_breadcrumbs.png) 0 0 no-repeat;
        width: 4px;
        height: 6px;
      }
  /* breadcrumbs end */
  /* title */
    /*.title{
      font-size: 32px;
      line-height: 1.2;
      color:#1b1412;
      text-align: center;
      position: relative;
      padding-bottom: 7px;
    }
      .title:before{
        position: absolute;
        width: 50px;
        height: 1px;
        content: "";
        background: #b1b1b1;
        bottom: 0;
        left: 50%;
        margin-left: -25px;
      }*/
  /* title end */

  /*figure how it works*/

    .figure_works_container{
      margin: 0 -22px;
    }

      .figure_works{
        width: 300px;
        text-align: center;
        margin: 0 22px;
      }

        .figure_works figcaption{
          margin-top: 30px;
        }
        .figure_works_img{
          overflow: hidden;
          width: 170px;
          height: 170px;
          border: 1px solid #b7b7b7;
          border-radius: 50%;
          display: inline-block;
        }
          .figure_works_img div{
            width: 170px;
            height: 170px;
            text-align: center;
            vertical-align: middle;
            display: table-cell;
          }

  /*figure how it works end*/

  /*collection_container*/

    .collection_container{
      border: 1px solid #b1b1b1;
      padding: 13px 20px 9px;
      /*width: 100%; */
      background-color: #FFF;
      color: #8a8a8a;
    }

      .collection_container_checkbox_item{position: relative;}

      .collection_container_checkbox_item .jq-checkbox{
        border-color: #b1b1b1;
        border-radius: 0;
        display: block;
        float: left;
        top: 1px;
      }

      .collection_container_checkbox_item .jq-checkbox.checked .jq-checkbox__div{
        width: 100%;
        height: 100%;
        background: url(../images/icon/checkbox_arrow.png)  50% 50% no-repeat;
        box-shadow: none;
        margin: 0;
      }
      .collection_container_checkbox_item .jq-checkbox.focused {
        border-color: #b1b1b1;
      }
      .collection_container_checkbox_item_labe{
        cursor: pointer;
        margin: 0;
        padding: 0 0 0 28px;
        display: block;
      }

      .collection_container_checkbox_list_sub{
        margin: 15px 0 0 28px;
      }

    .collection_container_checkbox_colors_list{
      margin: 0 -3px 20px;
    }  

      .collection_container_checkbox_colors_list_item{
        width: 22px;
        height: 22px;
        border: 1px solid transparent;
        float: left;
        margin: 0 3px 6px;
      }  

        .collection_container_checkbox_colors_list_item:hover,
        .collection_container_checkbox_colors_list_item.current{
          border-color: #000;
          cursor: pointer;
        }
      
        [data-color="color1"]{
          background: #f03030;
        }
        [data-color="color2"]{
          background: #1f25d9;
        }
        [data-color="color3"]{
          background: #b51ba6;
        }
        [data-color="color4"]{
          background: #22d6f2;
        }
        [data-color="color5"]{
          background: #77c234;
        }
        [data-color="color6"]{
          background: #f2dd22;
        }
        [data-color="color7"]{
          background: #eb8f2c;
        }
        [data-color="color8"]{
          background: #870303;
        }
        [data-color="color9"]{
          background: #72e0ca;
        }
        [data-color="color10"]{
          background: #f257c1;
        }
        [data-color="color11"]{
          background: #ccb395;
        }
        [data-color="color12"]{
          background: #696669;
        }
        [data-color="color13"]{
          background: #ffffff;
          border-color:#e5e5e5;
        }
        [data-color="color14"]{
          background: #000000;
        }

        .collection_select .jq-selectbox{
          width: 134px;
          float: right;
        }  

        .collection_select2 .jq-selectbox{
          width: 103px;
          float: right;
        }

          .collection_select label,
          .collection_select2 label{
            float: left;
            line-height: 26px;
          }  

          .collection_select .jq-selectbox__select,
          .collection_select2 .jq-selectbox__select{
            height: 26px;
            padding: 0 5px 0 10px;
            line-height: 26px; 
          }

            .collection_select .jq-selectbox__trigger-arrow,
            .collection_select2 .jq-selectbox__trigger-arrow{
              top: 50%;
              right: 5px;
            }

        .btn_black_collection{
          padding: 5px 17px !important; 
        }    

          .reset_filter_btn{
            font-size: 13px;
            color: #787878;
          }

  /*collection_container end*/


  /*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ZOOM-SLIDER CSS END      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/

  .zoom_slider_wrapper{
    width: 443px;
  }
    .zoom_main_img_wrapper{
      border: 1px solid #e5e5e5;
    }
      .zoom_slider_main_img{
        width: 100%;
        height: auto !important;
      }
    .zoom_img_main{
      border: 1px solid #e5e5e5;
    }
    .zoom_slider_box_small{
      text-align: center;
      margin: 10px -5px 0;
    }

        .zoom_slider_small_img{
          width: 81px;
          height: 63px;
          border: 1px solid #e5e5e5;
          display: inline-block;
          margin: 0 3px;
        }

          .zoom_slider_small_img img{
            width: 100%;
            height: 61px;
          }
/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ZOOM-SLIDER CSS       <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/

    /*fancybox*/
      .fancybox-skin{
        border-color: #e5e5e5; 
      }

        #fancybox-loading, 
        .fancybox-close, 
        .fancybox-prev span, 
        .fancybox-next span{
          background: url(../images/icon/fancybox_sprite.png);
        }
        .fancybox-prev span{background-position: 0 30%;}
        .fancybox-next span{background-position: 0 60%;}
    /*fancybox*/

  .block_text_wrapper{
    /*background-color: #f9f9f9;*/
    min-height: 320px;
    width: 100%;
    padding: 20px 0 20px 31px;
  }
    [data-bgimg-collection="bg2"]{
      background: #f9f9f9 url(../images/block_text_bg2.png) 100% 0 no-repeat;
    }
    .block_text{
      width: 345px;
      line-height: 23px; 
      max-width: 100%;
    }

/*  COMPONENTS END  */

/*   TOVAR page   */
  .product_description{
    width: 486px;
  }

    .product_description_article{
      color: #787878;
    }

    .product_description_tb{
      width: 100%;
      border-top: 1px solid #e5e5e5;
    }
      .product_description_tb tr{
        border-bottom: 1px solid #e5e5e5;
      }
      .product_description_tb tr td{
        padding: 10px 0 8px 0;
        width: 50%
      }
        .product_description_tb tr td:first-child{
          padding-left: 10px;
        }
      .product_description_tb tr:nth-child(odd){
        background: #f4f4f4;
      }
    
    .input_quantity_row .price_global{
      font-size: 22px;
      color: #787878;
      line-height: 40px;
    }
    .minus,
    .input_quantity,
    .plus{
      width: 40px;
      height: 40px;
      text-align: center;
      border: 1px solid #e5e5e5;
      float: left; 
      color: #787878;
    }  
    .minus,
    .plus{
      display: block;
      cursor: pointer;
      font-size: 40px;
      line-height: 33px;
      overflow: hidden;
    }
    .minus{
      border-right: none;
    }
    .plus{
      font-size: 30px;
      line-height: 35px;
      border-left: none;
    }
    
    .btn_black_add_cart{
      padding: 10px 38px !important; 
    }


/*   TOVAR page end    */    


/*   TIARA page    */

  .colection_filter_box{
    padding: 10px 0; 
    font-size: 14px;
  }
    .colection_filter_box_item{
      padding: 7px 19px 5px 5px;
      color: #787878;  
      border: 1px solid #b1b1b1;
      position: relative;
    }
      .colection_filter_box_item_close{
        cursor: pointer;
        position: absolute;
        width: 7px;
        height: 7px;
        background: url("../images/icon/img_close.png") no-repeat;
        right: 5px;
        top: 50%;
        margin-top: -3.5px;
      }
      .colection_filter_box_link{
        color: #787878;
        line-height: 30px;
        margin-left: 15px;
      }
      .colection_filter_box_link_up,
      .colection_filter_box_link_down{
        width: 11px;
        height: 11px;
        margin: 9px 0;
        background: url(../images/icon/sort_arrow_img.png) 50% 0 no-repeat;
      }
      .colection_filter_box_link_up{
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      .colection_filter_box_link_up:hover,
      .colection_filter_box_link_down:hover{
        background:url(../images/icon/sort_arrow_img_hover.png) 50% 0 no-repeat;;
      }

  .product_list{
    margin: 27px -9px;
  }
    .product_list .product_news_figure{
      margin: -18px 9px 0;
    }
    .product_list .product_news_figure:hover{
      z-index: 9999;
    }

  .plagination{
    margin-top: 15px; 
    font-size: 14px;
    color: #787878;
  }  

    .plagination_link{
      color: #787878;
      padding: 0 3px;
      margin: 0 -1px; 
    }
    .plagination_link:hover{
      text-decoration: none;
    }
    .plagination_list{
      text-align: center; 
    }
      .plagination_list_item{
        display: inline-block;
        margin: 0 0;
      }
        .plagination_list_item .plagination_link{
          padding: 0 5px; 
        }
    
    

/*   TIARA page end    */    

/*   REQUISITION page    */   

  .requisition_form_container{
    padding: 0 58px; 
  }

  .item_img_block_figure{
    position: relative;
  }
    .item_img_block_figure_text{
      position: absolute;
      right: 39px;
      font-size: 24px;
      line-height: 30px; 
      top: 50%;
      width: 433px;
      max-width: 100%;
      text-align: center;
      letter-spacing: 1.5px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .requisition_tabs_item{
      float: left;
      text-decoration: none;
      cursor: pointer;
      padding: 6px 19px 7px;
      color: #787878;
      border: 1px solid transparent;
    }
      .requisition_tabs_item.resp-tab-active{
      border-color: #b1b1b1;

      }
      .resp-tabs-container .collection_container_checkbox_item{
        color: #424242;
      }
      .requisition_tabs_container .jq-selectbox{
        width: 263px;
      }
      .requisition_tabs_container .collection_container_checkbox_item_labe{
        margin-left: 0;
        padding-left: 22px;
      }
      .requisition_tabs_container .select_wrapper .jq-selectbox__select{
        padding: 5px 20px 6px 4px;
        height: 23px;
        border-radius: 2px;
        line-height: 13px;
        width: auto;
        height: 25px;
        font-size: 13px;

      }
        .requisition_tabs_container .select_wrapper .jq-selectbox__select .jq-selectbox__trigger-arrow{
          right: 6px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
        }
        .check_map{
          color: #3e77aa;
          position: relative;
          padding-left: 19px;
          line-height: 23px;
          margin-left: 5px;
          font-size: 13px;
        }
          .check_map:before{
            content: "";
            left: 0;
            top: 50%;
            position: absolute;
            width: 16px;
            height: 16px;
            background: url(../images/icon/icon_maps.png) 0 0 no-repeat;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
          }

        .requisition_tabs_container .select_wrapper .form_popup_reg_input{
          margin-bottom: 0;
          width: 365px;
          border-radius: 3px;
          height: 33px;
        }  
          .requisition_tabs_container_form_popup_reg_input_wrapper{
            position: relative;
          }
          .requisition_tabs_container .select_wrapper .requisition_tabs_container_form_popup_reg_input_wrapper:before{
            content: "";
            position: absolute;
            background: url(../images/icon/inpui_arrow_img.png) 0 0 no-repeat;
            width: 11px;
            height: 10px;
            top: -9px;
            left: 40px;
          }
        .requisition_form_textarea{
          width: 100%;
          padding: 10px 11px;
          min-height: 80px;
          resize: vertical; 
        }  

      .requisition_right{
        background: #f4f4f4;
        padding: 15px 21px 20px;
        width: 318px;
        color: #424242; 
      }  
        .requisition_right .reset_filter_btn{
          font-size: 14px;
        }

/*   REQUISITION page end    */    




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


@media only screen and (max-width: 1200px) {
  /*how_it_works*/

    .figure_works{
      width: 28%;
    }

  /*how_it_works end*/

  /*requisition page*/  
    .requisition_form .acc_addres_box{
      width: 450px;
    }
    .requisition_form .acc_addres_box .popup_form_col{
      width: 100%;
    }
  /*requisition page end*/ 

  /*tiara page*/
    .product_list .product_news_figure{
      width: 29.5%;
    }
    .product_list .product_news_figure .product_news_title,
    .product_list .product_news_figure .product_news_cost{
      font-size: 15px;
      line-height: 17px;
    }
    .product_list .product_news_figure .product_news_cost {
        position: static;
    }
  /*tiara page end*/  
}

@media only screen and (max-width: 995px) {
  /*how_it_works*/
    .figure_works_container{
      text-align: center;
    }
    .figure_works{
      width: 40%;
      margin-bottom: 20px;
      float: none !important;
      display: inline-block;
    }
  /*how_it_works end*/

  /*tovar page*/
    .zoom_slider_wrapper{
      float: none !important;
      margin: 10px auto 20px; 
    }

    .product_description{
      float: none !important;
      width: 100%;
    }

  /*tovar page end*/
  /*requisition page*/
    .requisition_form{
      float: none !important;
      margin-bottom: 20px;
    }   
    .requisition_form .acc_addres_box{
      width: 100%;
    }
    .requisition_form .acc_addres_box .popup_form_col{
      width: 48%;
    }
    .requisition_right{
      width: 100%;
      float: none !important; 
    } 
  /*requisition page end*/ 

  
}
@media only screen and (min-width: 769px){
    
}
@media only screen and (max-width: 768px){

  
}
@media only screen and (max-width: 767px) {
    
  /*requisition page*/
    .requisition_form .acc_addres_box .popup_form_col{
      width: 100%;
    }
  /*requisition page end*/ 
}

@media only screen and (max-width: 620px) {
  /*how_it_works*/

    .figure_works{
      width: 80%;
      overflow: hidden;
    }
  /*how_it_works end*/

  /*requisition page*/
    .requisition_form_container{
      padding: 0;
    }
    .requisition_tabs_container .jq-selectbox,
    .requisition_tabs_container .select_wrapper .form_popup_reg_input{
      width: 100%;
    }
    .check_map{
      margin-bottom: 10px;
    }
  /*requisition page end*/ 
  /*tiara page*/
    .item_img_block_figure_text{
      right: 0;
      left: 0;
      padding: 0 20px;
      width: 100%;
      height: auto;
      font-size: 20px;
      letter-spacing: 0.8px;
    }
    .product_list .product_news_figure .product_news_title,
    .product_list .product_news_figure .product_news_cost{
      font-size: 14px;
      line-height: 20px;
    }
  /*tiara page end*/  
    
}

@media only screen and (max-width: 479px) {
  /*tovar page*/
    .zoom_slider_wrapper{
      width: 100%;
      height: auto; 
    }

    .input_quantity_row{
      margin-bottom: 20px !important;
    }
  /*tovar page end*/
  
  /*tiara page*/
    .product_list{
      margin: 20px -1.19% 0;
    }
    .product_list .product_news_figure{
      width: 46%;
      margin: -18px 1.99% 0;
    }
    [data-bgimg-collection="bg2"]{
      background-color: #f9f9f9 !important;
      background-image: none !important;
    }
  /*tiara page end*/  
}
@media only screen and (max-width: 390px) {
  /*tiara page*/
    .product_list{
      margin-bottom: 30px;
    }
    .product_list .product_news_figure{
      width: 100%;
      margin: -18px 0;
    }
    .plagination_list {
      display: block;
      width: 100%;
      margin-top: 30px;
    }
  /*tiara page end*/  
}





/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================

