/*-----------------------------  CONTACTS BLOCK  -------------------------*/
.contacts_box{
	width: 445px;
	height: 212px;
	border: 1px solid #e5e5e5;
	padding: 48px 15px;
	margin: 60px auto;
	color: #424242;
}
	.contacts_box *{
		text-align: center;
	}
	.contacts_link{
		display: block;
		text-align: center;
		color: #424242;
	}

/*-----------------------------  POPUP BLOCK  -------------------------*/
.authorization_popup_box{
	width: 540px;
}
.popup_form_col{
	width: 232px;
}
	.popup_title1{    
		font-size: 32px;
	    line-height: 32px;
	    color: #000;
	    text-align: center;
	    position: relative;
	    padding-bottom: 10px;
	    margin-bottom: 30px;
	    
	}
		.popup_title1:before{
		    position: absolute;
		    width: 100%;
		    height: 1px;
		    content: "";
		    background: #ddd;
		    bottom: 0;
		    left: 0;
		}
		.form_popup_aut_input,
		.form_popup_reg_input{
			border: 1px solid #ddd;
			width: 100%;
			height: 40px;
			padding: 8px 13px;
    		line-height: 17px;
			color: #787878;
		}
		.forgot_pass_link{
			margin: 3px 105px 9px 0;
			padding: 3px 10px;
			color: #787878;
			font-size: 14px;
		}
		.checkbox_div{
			text-align: right;
		}
			.checkbox_label{
				cursor: pointer;
				padding: 5px 5px 5px 0;
				font-size: 14px;
				color: #787878;
			}
		.authorization_popup_link{
			padding: 0px 2px 2px 10px;
			color: #424242;
			font-size: 14px;
		}
		.btn_aut{
		    padding: 10px 58px !important;
		    margin: 13px auto 0;
		    text-align: center;
		    display: block;
		}

		.btn_reg{
		    margin: 25px auto 10px;
		    text-align: center;
		    display: block;
		}
		.form_popup_reg_input,
		.select_wrapper{
			margin-bottom: 20px;
		}

		.popup_form_col_indent{
			margin-right: 15px;
		}

		/*---------------  Home page popup REVIEW  -------------*/
		.arcticmodal_container_box.review_popup_box{
			max-width: 1070px;
			padding: 40px 40px 30px;
		}
		.review_popup_box .zoom_slider_wrapper{
			margin-right: 58px;
		}

/*-----------------------------  Account components  -------------------------*/
.block_wrapper{
	width: 100%;
	display: inline-block;
}
	.popup_title6{
		margin: 5px 0 14px;
	}
	.acc_addres_box{
		width: 538px;
		padding: 25px;
		border: 1px solid #ddd;
	}
	.btn_box{
		width: 215px;
		margin: 0 23%;
		display: inline-flex;
	}
		.btn_box .btn_black_basket{
			width: 214px;
			margin-right: 5px;
		}
		.btn_box .btn_white_basket{
			color: #787878;
			width: 92px;
			border: none;
		}
		.btn_box .btn_black_basket,
		.btn_box .btn_white_basket{
			display: inline-block;
			padding: 10px 17px;
		}

	.account_info_box{
		width: 256px;
		padding: 16px 23px;
		border: 1px solid #ddd;
	}
		.account_img_box{
			width: 22px;
			margin-right: 13px;
			background: #FFF;
		}
			.account_img_box img{
				text-align: center;
			}
			.title6{
				font-size: 15px;
				line-height: 23px;
				font-weight: bold;
				margin-bottom: 0;
			}
			.account_text_box p{
				font-size: 14px;
				margin-bottom: 2px;
			}
		.account_edit_link,
		.account_delete_link{
			color: #787878;
			font-size: 14px;
			line-height: 15px;
		}
		.account_edit_link{
			border-right: 1px solid #424242;
			margin-right: 9px;
			padding-right: 9px;
		}
		.account_delete_link{}

		.account_tab_list{
			float: left;
			width: 168px;
			margin-right: 18px;
			padding: 12px 22px 15px;
			background: #F4F4F4;
		}
		.tabs_container{
			float: left;
			width: 81.2%;
		}
			.list_tabs_title{
				color: #787878;
				font-size: 17px;
				font-weight: bold;
				text-align: center;
				margin-bottom: 18px;
				letter-spacing: 0.7px;
			}
			.list_tabs_item{
				color: #424242;
				font-size: 15px;
				padding-bottom: 7px;
				margin-bottom: 7px;
			}
			.list_tabs_item{
				cursor: pointer;
			}
			.account_tab_list li:last-child{
				margin-bottom: 0;
			}

			/*--------------  account table  ------------*/
			.offer_close{
				cursor: pointer;
			}
			.offers_table{
				width: 100%;
				table-layout: fixed;
			}
				.first_table_row{
					height: 37px;
					vertical-align: middle;
					background: #f4f4f4;
					border-top: 1px solid #e5e5e5;
					border-bottom: 1px solid #e5e5e5;
				}
				.offers_table_row{
					width: 100%;
					color: #000;
					border-bottom: 1px solid #e5e5e5;
				}
					.offers_table_th_first{
						padding: 0 0 0 10px;
						vertical-align: middle;
						font-weight: 400;
						font-size: 14px;
					}
					.offers_table_row td:nth-child(1){
						padding: 10px 5px 10px 0;
					}
					.offers_table_th_first,
					.offers_table_row td:nth-child(1){
						text-align: left;
						width: 41%;
					}
					.offers_table_th_second,
					.offers_table_row td:nth-child(2){
						text-align: center;
						width: 18%;
					}
					.offers_table_th_third,
					.offers_table_row td:nth-child(3){
						text-align: center;
						width: 18%;
					}
					.offers_table_th_fourth,
					.offers_table_row td:nth-child(4){
						text-align: center;
						width: 16%;
					}
					.offers_table_th_fifth,
					.offers_table_row td:nth-child(5){
						text-align: center;
						width: 5%;
					}
					
					.offers_table_th_second,
					.offers_table_th_third,
					.offers_table_th_fourth,
					.offers_table_th_fifth{
						vertical-align: middle;
						margin: 0;
						padding: 10px 5px;
						font-weight: 400;
						font-size: 14px;
					}
						.account_offer_figure_img_box{
							width: 107px;
							height: 82px;
							margin-right: 12px;
						}
							.account_offer_figure_img_box img{
								width: 100%;
								height: auto;
							}
							.basket_offer_name{
								font-size: 15px;
								line-height: 15px;
								margin-bottom: 13px;
								font-weight: 600;
								color: #000;
							}
							.basket_offer_info{
								color: #787878;
								font-size: 13px;
								margin-bottom: 3px;
							}
							.offers_table_row td{
								padding: 12px 5px;
								border-right: 1px solid #e5e5e5;
							}
							.offers_table_row td:last-child{
								border-right: none;
							}

								.offers_date span{
									text-align: center;
									color: #787878;
									font-size: 13px;
								}
								.table_offers_condition{
									text-align: center;
									color: #787878;
									font-size: 14px;
								}
								.table_price,
								.cart_prod_parice{
									color: #000;
									font-size: 14px;
									font-weight: 600;
								}
								.account_offer_figure_figcaption{
									width: 62%;
								}

								.add_addres_link{
									background: #424242;
									color: #FFF;
									border: 1px solid #fff;
									padding: 10px 20px;
									margin-bottom: 30px;
								}
									.add_addres_link:hover{
										background: #fff;
									    border: 1px solid #424242;
									    color: #424242;
									    text-decoration: none;
									}

		/*--------------  cart page  ------------*/
					.cart_table_th_first{
						padding: 0 0 0 10px;
						vertical-align: middle;
						font-weight: 400;
						font-size: 14px;
					}
					.offers_table_row td:nth-child(1){
						padding: 10px 5px 10px 0;
					}
					.cart_table_th_first,
					.offers_table_row td:nth-child(1){
						text-align: left;
						width: 45%;
					}
					.cart_table_th_second,
					.offers_table_row td:nth-child(2){
						text-align: center;
						width: 15%;
					}
					.cart_table_th_third,
					.offers_table_row td:nth-child(3){
						text-align: center;
						width: 20%;
					}
					.cart_table_th_fourth,
					.offers_table_row td:nth-child(4){
						text-align: center;
						width: 15%;
					}
					.cart_table_th_fifth,
					.offers_table_row td:nth-child(5){
						text-align: center;
						width: 4%;
					}
					
					.cart_table_th_second,
					.cart_table_th_third,
					.cart_table_th_fourth,
					.cart_table_th_fifth{
						vertical-align: middle;
						margin: 0;
						padding: 10px 5px;
						font-weight: 400;
						font-size: 14px;
					}

						.quantity_wrapper.cart_quant{
							width: 88px;
							height: 30px;
							margin: 0 auto;
						}
						.minus.cart_quant_act,
						.plus.cart_quant_act{
							width: 28px;
						    height: 28px;
						    line-height: 21px;
						}
						.minus.cart_quant_act{
							font-size: 30px;
						}
						.plus.cart_quant_act{
							font-size: 23px;
						}
							.input_quantity.cart_prod_count{
								width: 28px;
							    height: 28px;
							    font-size: 13px;
							    line-height: 15px;
							}
							.input_quantity_row .table_price.price_global{
								color: #000;
    							font-size: 14px;
    							line-height: 15px;
							}

		.cart_box{
			margin-bottom: 50px;
		}
			.cart_total_box{
				height: 36px;
				padding: 7px 0;
				background: #F4F4F4;
			}
				.cart_total_price_text{
					font-size: 16px;
					color: #000;
					font-family:'SegoeUI-SemiBold';
					margin-right: 90px;
					margin-bottom: 0;
				}
					.cart_total_price_price{
						margin-left: 25px;
						font-size: 14px;
						line-height: 22px;
					}


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


@media only screen and (max-width: 1199px){
	.tabs_container{
		width: 78%;
	}
		.account_offer_figure_figcaption {
		    width: 58%;
		}
}

@media only screen and (max-width: 991px) {
		/*body{min-width:768px;}*/
		.tabs_container{
			width: 70%;
		}
			.account_offer_figure_img_box{
				float: none;
				margin-bottom: 10px;
			}
			.account_offer_figure_figcaption{
				float: none;
				width: 100%;
			}
				.offers_date span{
					display: block;
					margin-bottom: 5px;
				}

}

@media only screen and (max-width: 768px) {
		/*body{min-width:420px;}*/
		.account_tab_list{
	        display: none;
	    }

	    .tabs_title{
	        display: block !important;
	    }
	    .tabs_container{
	    	width: 100%;
	    }
		
}

@media only screen and (max-width: 587px) {
	/*----------------------  START: MY_ACCOUNT  ------------------*/
		.arcticmodal_container_box{
			width: 100% !important;
		}
		.popup_form_col{
			width: 181px;
		}
		.acc_addres_box{
			width: 100% !important;
		}
			.btn_box{
				margin: 0;
				width: 100%;
				display: inline-block;
			}
				.btn_box .btn_black_basket{
					margin-right: 0;
					width: 100%;
				}
				.btn_box .btn_white_basket{
					width: 100%;
				}
		.offers_table_th_first, 
		.offers_table_row td:nth-child(1){
			width: 35%;
		}
	/*----------------------  END: MY_ACCOUNT  ------------------*/
}

@media only screen and (max-width: 479px) {
		/*body{min-width:320px;}*/
	/*----------------------  START: CONTACTS  ------------------*/
		.contacts_box{
			width: 100%;
		}
	/*----------------------  END: CONTACTS  ------------------*/
	
	/*----------------------  START: MY_ACCOUNT  ------------------*/
		.popup_form_col{
			width: 100%;
		}
		input.form_popup_aut_input{
			margin-bottom: 10px;
		}
		.forgot_pass_link {
		    margin: 3px 5px 9px 0;
		}
		.checkbox_div{
			text-align: left;
			margin-bottom: 10px;
		}
		.authorization_popup_link{
			padding: 0 2px 2px 0;
		}
	/*----------------------  END: MY_ACCOUNT  ------------------*/
	.offers_table_th_first, 
	.offers_table_row td:nth-child(1){
	    width: 30%;
	}
	.account_offer_figure_img_box{
		width: 100px;
	}

	/*------------------  START: CART ---------------------*/
		.minus.cart_quant_act, 
		.input_quantity.cart_prod_count, 
		.plus.cart_quant_act{
    		margin-top: -1px;
		}
		.plus.cart_quant_act{
			border-left: 1px solid #e5e5e5;
		}
		.minus.cart_quant_act{
			border-right: 1px solid #e5e5e5;
		}
		.quantity_wrapper.cart_quant {
		    width: 30px;
		    height: auto;
		    margin: 0 auto;
		}
	/*------------------  END: CART ---------------------*/
}

@media only screen and (max-width: 479px){
	/*------------------  START: CART ---------------------*/
		.cart_total_price_text{margin-right: 10px;}
	/*------------------  END: CART ---------------------*/
	
	.review_popup_box .zoom_slider_small_img{
		margin-bottom: 10px;
	}
	
}

@media only screen and (max-width: 358px){
	/*------------------  START: CART ---------------------*/
	.review_popup_box .input_quantity_row .price_global{
		float: right;
	}
	/*------------------  END: CART ---------------------*/
}




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================