================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BX-SLIDER CSS START    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


		.bx-wrapper{
			margin: 0 auto;
		}
		.bx-wrapper .bx-pager{
			display: none;
		}
		.bx-wrapper .bx-controls-direction a{
			font-size: 0;
			left: 50%;
			width: 21px;
			height: 15px;
			-webkit-transform: translateX(-50%);
			   -moz-transform: translateX(-50%);
			    -ms-transform: translateX(-50%);
			     -o-transform: translateX(-50%);
			        transform: translateX(-50%);
			-webkit-transition: none;
			   -moz-transition: none;
			    -ms-transition: none;
			     -o-transition: none;
			        transition: none;
			margin-top: 0;
			background: url(../images/icon/slider_vertical_arrow.png) 3px 3px no-repeat;
		}
		.bx-wrapper .bx-controls-direction .bx-prev{
			top: -18px;
		}
			.bx-wrapper .bx-controls-direction .bx-prev:hover{
			    background-position: -19px 3px;
			}
		.bx-wrapper .bx-controls-direction .bx-next{
			top: auto;
			right: auto;
			bottom: -18px;
			background-position: 3px -17px;
		}
			.bx-wrapper .bx-controls-direction .bx-next:hover{
				background-position: -19px -17px;
			}
		.bx-wrapper .bx-viewport{
			background: transparent;
			border: none;
			-webkit-box-shadow: none;
			        box-shadow: none;
			left: 0;
		}


/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BX-SLIDER CSS END      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  OWL-CAROUSEL CSS START    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/

		
		.owl-pagination{
			display: none;
			position: absolute;
			bottom: 15px;
			left: 50%;
			height: 13px;
			-webkit-transform: translateX(-50%);
			   -moz-transform: translateX(-50%);
			    -ms-transform: translateX(-50%);
			     -o-transform: translateX(-50%);
			        transform: translateX(-50%);
		}
			.owl-controls .owl-page{
				width: 13px;
				height: 13px;
				background-color: #FFF;
				display: inline-block;
				margin-right: 7px;
				overflow: hidden;
				-webkit-border-radius: 50%;
				        border-radius: 50%;
			}
			.owl-controls .owl-page.active,
			.owl-controls .owl-page:hover{
				background-color: #323232;
				
			}


		.owl-carousel .owl-buttons{
			display: none;
		}
			.owl-carousel .owl-buttons div{
	            width: 23px;
	            height: 43px;
	            background-image: url(../images/icon/slider_horizontal_arrow.png);
	            background-repeat: no-repeat;
	            position: absolute;
	            top: 50%;
	            -webkit-transform: translateY(-100%);
	               -moz-transform: translateY(-100%);
	                -ms-transform: translateY(-100%);
	                 -o-transform: translateY(-100%);
	                    transform: translateY(-100%);
	        }
	            .owl-carousel .owl-prev{
	                background-position: 0px 0;
	                left: -57px;
	            }
	                .owl-carousel .owl-prev:hover{
	                    background-position: 0px -55px;
	                }
	            .owl-carousel .owl-next{
	                background-position: -54px 0;
	                right: -57px;
	            }
	                .owl-carousel .owl-next:hover{
	                    background-position: -54px -55px;
	                }


/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  OWL-CAROUSEL CSS END      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  	RANGE-SLIDER CSS START      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/
	

		.range_slider_wrapper #slider-range{
			background-color: #787878;
			height: 2px;

		}
			.range_slider_wrapper .ui-slider-horizontal .ui-slider-range{
				background-color: #b1b1b1;		
			}
			.range_slider_wrapper #slider-range .ui-slider-handle{
				background: #e5e5e5;
				border-radius: 50%;
				border: 1px solid #b7b7b7;
				top: -8px;
			} 
			.range_slider_wrapper #amount1,
			.range_slider_wrapper #amount2{
				color: #787878;
				font-size: 13px;
				border: 0;
				width: 50%;
				text-align: left;
			}
			.range_slider_wrapper #amount2{
				text-align: right;
			}


/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RANGE-SLIDER CSS END      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  	FANCYBOX CSS END      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/

		.fancybox-overlay-fixed{
			background-color: rgba(0,0,0,0.5);
		}

/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FANCYBOX CSS END      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/