/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/

/* ====== min-width start ======*/

@media only screen and (min-width: 768px){
	.system_controller,
	.filter_close_resp{
		display: none;	
	}
}
@media only screen and (min-width: 769px){
    #header .header_bottom_container.sticky.is-sticky{
        position: static !important;
        width: 100% !important;
    }
    #header .placeholder {
        display: none !important;
    }
}

/* ====== min-width end ======*/

@media only screen and (max-width: 1199px) {
	.recommend_collections_item2 .recommend_slider_item {
        width: 30.8%;
	}
	.recommend_collections_item2 .recommend_slider_text{
		font-size: 17px;
	}
}
@media only screen and (max-width: 1120px) {
	.recommend_collections{
		padding: 0 30px 40px 30px;
	}
	.recommend_slider.owl-carousel .owl-prev{
		left: -20px;
	}
	.recommend_slider.owl-carousel .owl-next{
		right: -20px;
	}
}
@media only screen and (max-width: 1024px) {
	.arrow_up{
		right: 60px;
	}
	.product_news_collection .product_news_title{
		font-size: 15px;
		line-height: 16px;
	}
	.product_news_collection .product_news_cost{
		position: static;
	}
}
@media only screen and (max-width: 995px) {
		/*body{min-width:768px;}*/
		[data-bgimg-collection="bg3"]{
			-webkit-background-size: 50%;
			     -o-background-size: 50%;
			        background-size: 50%;
		}

}
@media only screen and (max-width: 991px){
	.product_news_slider .product_news_cost{
		position: static;
	}
	.product_news_slider .product_news_figure{
		width: 215px;
	}
	.product_news_slider .product_news_title, 
	.product_news_slider .product_news_cost{
		font-size: 15px;
	}
	.recommend_collections_item2 .recommend_slider_text ,
	.product_news_collection .product_news_title{
	    font-size: 13px;
	}
	.product_news_collection .product_news_title{
	    line-height: 15px;
	}
	.product_news_collection .product_news_cost{
		font-size: 15px;
	}
	.recommend_collections_item2 .recommend_slider_item{
		margin: 0 1.19% 15px;
	}
}
@media only screen and (max-width: 768px){
        body.show_menu,
        body.show_filter{
        	overflow: hidden;
        }
		.navigation_menu{
			position: fixed;
			z-index: 999;
	        width: 250px;
	        height: 100%;
	        top: 0;
	        bottom: 0;
	        right: -250px;
	        -webkit-transition: all ease 0.5s;
	        -moz-transition: all ease 0.5s;
	        -ms-transition: all ease 0.5s;
	        -o-transition: all ease 0.5s;
	        transition: all ease 0.5s;
	        background-color: #f2f2f2;
	        overflow: auto;
		}
		.show_menu .navigation_menu {
	        right: 0;
		}
		.navigation_menu .search_box{
			margin: 10px 5px 10px 0;
			width: calc(100% - 60px);
			float: right;
			height: 40px;
			display: block;
		}
			.navigation_menu .search_box .input_field{
				font-size: 16px;
				height: 40px;
				visibility: visible;
				opacity: 1;
				width: 100%;
				padding: 5px 35px 5px 5px;
			}
			.navigation_menu .search_box .header_top_right_box_link{
				height: 40px;
				width: 35px;
			}
		.resp_btn {
	        display: block;
	        float: right;
	        font-size: 25px;
	        line-height: 30px;
	        color: #000;
	        cursor: pointer;
	        padding: 5px;
	        vertical-align: middle;
	        cursor: pointer;
	        margin: 14.5px 0;
		}
			.span_box{
				width: 30px;
				height: 30px;
				display: inline-block;
				padding: 5px 0;
			}
				.span_box span{
					height: 4px;
					width: 100%;
					display: block;
					margin-bottom: 4px;
					background-color: #000;
				}
		.resp_btn:hover,
		.resp_btn:active{
			/*color: #FFF;
			background-color: #b1b1b1;*/
		}
			.resp_btn:hover .span_box span,
			.resp_btn:active .span_box span{
				/*background-color: #FFF;*/
			}
		.close_resp_menu {
	        display: block;
	        float: left;
	        cursor: pointer;
	        width: 40px;
	        height: 40px;
	        text-align: center;
	        vertical-align: middle;
	        padding: 5px 0;
	        background-color: #fff;
	        margin: 10px 5px 10px 10px;
	        font-size: 40px;
	        line-height: 20px;
	        border: 1px solid #b1b1b1;
		}
			.close_resp_menu:hover,
			.close_resp_menu:active{
				background-color: #000;
				color: #FFF;
			}
		.logo{
			float: left;
			margin: 0;
		}
		.header_bottom_container{
			padding-top: 5px;
        	padding-bottom: 5px;
		}
		.header_bottom_container.sticky{
			width: 100% !important;
		}
		.header_bottom_container.sticky.is-sticky{
			background-color: #FFF;
			z-index: 999;
			left: 0;
			padding-left: 18px;
			padding-right: 18px;
			-webkit-box-shadow: 0px -1px 10px 0px #000;
			        box-shadow: 0px -1px 10px 0px #000;
		}
		.menu {
	        margin-left: 10px;
	        text-align: left;
		}
		.menu_item,
		.menu_link{
			padding: 0;
			display: block;
		}
		.menu_link {
	        font-size: 18px;
	        line-height: 30px;
	        display: block;
	        padding: 10px 8px;
		}
		.menu_item.active .menu_link, 
		.show_menu .menu_item:hover .menu_link, 
		.show_menu .menu_item.current .menu_link {
	        padding-left: 20px;
	        background-color: #000;
	        color: #FFF;
	        text-decoration: none;
		}
		.dropdown_arrow{
			right: 25px;
		}
		.menu_item.active .menu_link .dropdown_arrow_item, 
		.show_menu .menu_item:hover .menu_link .dropdown_arrow_item, 
		.show_menu .menu_item.current .menu_link .dropdown_arrow_item{
			border-top-color: #FFF;
		}
		.dropdown_menu {
	        display: none;
	        margin-top: 2px;
	        position: static !important;
	        visibility: visible !important;
	        opacity: 1 !important;
	        -webkit-transform: translateY(0px) !important;
	        -moz-transform: translateY(0px) !important;
	        -ms-transform: translateY(0px) !important;
	        -o-transform: translateY(0px) !important;
	        transform: translateY(0px) !important;
	        -webkit-transition: none !important;
	           -moz-transition: none !important;
	            -ms-transition: none !important;
	             -o-transition: none !important;
	                transition: none !important;
	        min-width: 100%;
	        padding: 10px 0px 10px 10px;
	        -webkit-box-shadow: none;
	                box-shadow: none;
	        min-height: inherit;
		}
		.dropdown_menu:before{
			display: none;
		}
		.dropdown_menu_list_link{
			line-height: 22px;
			font-size: 18px;
			display: block;
			padding: 5px 0 5px 5px;
		}
			.dropdown_menu_list_link:hover{
				background-color: #000;
				color: #FFF;
				padding-left: 20px;
				text-decoration: none;
			}
		.dropdown_menu_list_it{
			padding: 0px 0;	
		}
		#content,
		#footer{
			-webkit-transform: translateX(0);
			   -moz-transform: translateX(0);
			    -ms-transform: translateX(0);
			     -o-transform: translateX(0);
			        transform: translateX(0);
		    -webkit-transition: all ease 0.5s;
		       -moz-transition: all ease 0.5s;
		        -ms-transition: all ease 0.5s;
		         -o-transition: all ease 0.5s;
		            transition: all ease 0.5s;
		}
		.show_menu #content,
		.show_menu #footer{
			-webkit-transform: translateX(-250px);
			   -moz-transform: translateX(-250px);
			    -ms-transform: translateX(-250px);
			     -o-transform: translateX(-250px);
			        transform: translateX(-250px);
		 	-webkit-transition: all ease 0.5s;
		       -moz-transition: all ease 0.5s;
		        -ms-transition: all ease 0.5s;
		         -o-transition: all ease 0.5s;
		            transition: all ease 0.5s;   
		}
		.header_top_right_box .search_box{
			display: none;
		}
		.reviews_figure{
			margin-bottom: 20px;
		}
		.recommend_slider_item,
		.product_news_slider .product_news_figure{
			width: 70%;
			margin: auto;
			float: none;
		}
		.recommend_slider_img{
			text-align: center;
		}
			.recommend_slider_img img{
				width: 100%;
			}
        .placeholder{
        	width: 100% !important;
        }
        .recommend_collections_item2 .recommend_slider_item{
        	float: left;
        }
	
}
@media only screen and (max-width: 767px) {
		/*body{min-width:420px;}*/
		.system_controller{
			position: fixed;
			top: 130px;
			left: 0px;
			width: 45px;
			height: 45px;
			padding: 5px;
			text-align: center;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			border: 1px solid #000;
			background: #fff url(../images/icon/system_controller.png) 50% 50% no-repeat;
			cursor: pointer;
			z-index: 99;
		}
		.system_controller:hover{
			/*background: #000 url(../images/icon/system_controller_hover.png) 50% 50% no-repeat;*/
			background: #ddd url(../images/icon/system_controller.png) 50% 50% no-repeat;
		}
		.system_controller.current{
			background: #ddd url(../images/icon/system_controller.png) 50% 50% no-repeat;
		}
		.collection_container{
			width: 228px;
			position: fixed;
			padding: 0;
			-webkit-transform: translateX(-238px);
			   -moz-transform: translateX(-238px);
			    -ms-transform: translateX(-238px);
			     -o-transform: translateX(-238px);
			        transform: translateX(-238px);
			top: 0;
			bottom: 0;
			border: none;
			-webkit-box-shadow: 0 3px 10px rgba(33, 29, 30, 0.15);
			        box-shadow: 0 3px 10px rgba(33, 29, 30, 0.15);
			background-color: #FFF;
			z-index: 99;
			-webkit-transition: all ease 0.5s;
			   -moz-transition: all ease 0.5s;
			    -ms-transition: all ease 0.5s;
			     -o-transition: all ease 0.5s;
			        transition: all ease 0.5s;
		}
		.fill_wrap{
			-ms-overflow-y: auto;
			    overflow-y: auto;
		    padding: 13px 20px 9px;
		    max-height: 815px;
		}
		.show_filter .collection_container{
			-webkit-transform: translateX(-10px);
			   -moz-transform: translateX(-10px);
			    -ms-transform: translateX(-10px);
			     -o-transform: translateX(-10px);
			        transform: translateX(-10px);
			-webkit-transition: all ease 0.5s;
			   -moz-transition: all ease 0.5s;
			    -ms-transition: all ease 0.5s;
			     -o-transition: all ease 0.5s;
			        transition: all ease 0.5s;
		}
		.filter_close_resp{
			position: absolute;
			top: -1px;
			right: -1px;
			font-size: 40px;
			height: 45px;
			width: 45px;
			line-height: 37px;
			color: #000;
			background-color: #FFF;
			-webkit-border-radius: 3px;
                    border-radius: 3px;
            border: 1px solid #000;
            text-align: center;
            -webkit-transition: all ease 0.3s;
		       -moz-transition: all ease 0.3s;
		        -ms-transition: all ease 0.3s;
		         -o-transition: all ease 0.3s;
		            transition: all ease 0.3s;
		}
		.filter_close_resp:hover{
			background-color: #000;
			color: #FFF;
		}
		.show_filter .filter_close_resp{
			-webkit-transform: translateX(45px);
			   -moz-transform: translateX(45px);
			    -ms-transform: translateX(45px);
			     -o-transform: translateX(45px);
			        transform: translateX(45px);
		    -webkit-transition: all ease 0.5s;
		       -moz-transition: all ease 0.5s;
		        -ms-transition: all ease 0.5s;
		         -o-transition: all ease 0.5s;
		            transition: all ease 0.5s;
		}
		.show_filter #content,
		.show_filter #footer{
			-webkit-transform: translateX(228px);
			   -moz-transform: translateX(228px);
			    -ms-transform: translateX(228px);
			     -o-transform: translateX(228px);
			        transform: translateX(228px);
		 	-webkit-transition: all ease 0.5s;
		       -moz-transition: all ease 0.5s;
		        -ms-transition: all ease 0.5s;
		         -o-transition: all ease 0.5s;
		            transition: all ease 0.5s;   
		}
		.product_news_img_box img{
			width: 100%;
		}
		.arrow_up {
	        right: 20px;
		}
}
@media only screen and (max-width: 700px) {
	.fill_wrap{
		max-height: 500px;
	}
}
@media only screen and (max-width: 479px) {
		/*body{min-width:320px;}*/
		.logo a {
	        width: 205px;
	        height: 60px;
	        -webkit-background-size: contain;
	             -o-background-size: contain;
	                background-size: contain;
        }
		.resp_btn{
			font-size: 21px;
			line-height: 28px;
			margin: 10px 0;
		}
		.span-box{
			width: 25px;
		}
		.header_top_left_link:first-child{
			margin-left: 0;
		}
		.arrow_up{
			right: 30px;
		}
		.product_news_collection .product_news_figure,
		.recommend_collections_item2 .recommend_slider_item{
			width: 47.6%;
		}
		.product_news_collection{
			margin: 0 -6px 2px;	
		}
		.product_news_collection .product_news_figure{
			margin: -25px 1.19% 0;
		}
		.product_news_collection .product_news_figure:hover{
			z-index: 999;
		}
		.product_news_collection .product_news_figure:nth-last-of-type(3){
			margin-bottom: 0px;
		}
		.recommend_collections_item2 .recommend_slider_item:nth-last-of-type(3){
			margin-bottom: 15px;
		}
		.block_text_wrapper{
			padding-left: 15px;
			padding-right: 15px;
		}
		.product_news_collection .product_news_figure:nth-child(3) {
		        margin-top: -25px;
		}
		[data-bgimg-collection="bg3"]{
			background-color: #f9f9f9 !important;
			background-image: none !important;
		}
		.block_text{
			width: 100%;
			text-align: center;
		}
		.recommend_collections_item2{
			margin: 0 0 50px;
		}
}
@media only screen and (max-width: 430px){
	.recommend_slider_item{
		float: none;
		max-width: 100%;
		margin: auto;
	}
}
@media only screen and (max-width: 415px){
	.header_top_left_link_box,
	.header_top_right_box{
		float: none;
		display: block;
		text-align: center;
	}
	.authorise_box,
	.basket_box{
		float: none;
		margin: 0 10px;
		display: inline-block;
	}
	.basket_show_box{
		width: 290px;
		right: 0;
		-webkit-transform: translateY(10px) translateX(37%);
		   -moz-transform: translateY(10px) translateX(37%);
		    -ms-transform: translateY(10px) translateX(37%);
		     -o-transform: translateY(10px) translateX(37%);
		        transform: translateY(10px) translateX(37%);
	}
	.basket_box:hover .basket_show_box{
		right: 0;
		-webkit-transform: translateY(0px) translateX(37%);
		   -moz-transform: translateY(0px) translateX(37%);
		    -ms-transform: translateY(0px) translateX(37%);
		     -o-transform: translateY(0px) translateX(37%);
		        transform: translateY(0px) translateX(37%);
	}
	.vertical_slider_img{
		width: 80px;
		height: 61px;
		margin-right: 5px;
	}
	.vertical_slider_text{
		width: calc(100% - 86px);
	}
	.vertical_slider_title{
		padding-right: 10px;
		font-size: 13px;
        line-height: 14px;
        margin-bottom: 6px;
        text-align: left;
	}
	.vertival_product_info,
	.vertical_cost{
		text-align: left;
	}
	.vertical_cost{
		position: static;
	}
}
@media only screen and (max-width: 399px) {
	.coll_box_l, 
	.coll_box_r{
		width: 100%;
		float: none;
	}
	.coll_box:first-child {
        min-height: inherit;
	}
}
@media only screen and (max-width: 390px) {
	.product_news{
		padding: 0px 30px 3px 30px;
	}
	.owl-carousel .owl-prev{
		left: 0;
	}
	.owl-carousel .owl-next{
		right: 0;
	}
	.product_news_figure{
		float: none;
		margin: auto;
	}
	.product_news_collection .product_news_figure{
		width: 100%;
		margin: -25px 0 0;
	}
	.product_news_collection .product_news_figure:nth-child(2){
		margin-top: -25px;
	}
	.product_news_collection{
		margin: 0;
	}
	.product_news_collection .product_news_title{
		line-height: 20px;
	}
	.product_news_text_box{
		height: auto;
	}
	.product_news_img_box img{
		width: 100%;
	}
}
@media only screen and (max-width: 350px) {
	.logo a {
        width: 165px;
        height: 48px;
    }
    .resp_btn{
    	margin: 3px 0; 
    }
}




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================