/*====>>  Stylesheet Guide START  <<====*/
        

        /*<<=========================================>>

        1. IMPORT Plugins and other CSS files
        2. DEFAULT Stylesheets
        3. BASIC classes main
            3.1) TOUCH hacks
            3.2) POSITIONS blocks (float:)
            3.3) POSITIONS text (text-align:)
            3.4) VERTICALLY align boxs (vertical-align:)
            3.5) INDENTS Zero !IMPORTANT
            3.6) POSITIONS (position:)
            3.7) ZEROING float
            3.8) DISPLAYS (dispay:)
            3.9) LINKS And BUTTONS
            3.10) HOVERS TRANSITION
            3.11) TITLES
            3.12) BACKGROUNDS
            3.13) COLORS
            3.14) GOOGLE FONTS
            3.15) INSTALL FONTS
            3.16) VISIBILITY
            3.17) TEXTAFIELD (placeholder animation)
        4. HEADER
        5. CONTENT
        6. FOOTER 
        
        <<=========================================>>*/
        

/*====>>  Stylesheet Guide END    <<====*/



/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  IMPORT Plugins and other CSS files START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


        @import "../css/reset.css";
        @import "../css/bootstrap.css";
        @import "../css/indent.min.css";
        @import "../css/animate.min.css";
        @import "../css/components_l.css";
        @import "../plugins/formstyler/formstyler.css";
        @import "../plugins/bx-slider/jquery.bxslider.css";
        @import "../plugins/arcticmodal/jquery.arcticmodal.css";
        @import "../plugins/owl-carousel/owl.carousel.css";
        @import "../plugins/range-slider/jquery-ui.css";
        @import "../plugins/fancybox/jquery.fancybox.css";
        @import "../plugins/easy-responsive-tabs/easy-responsive-tabs.css";
        @import "../css/components.css";
        @import "../css/plugins.css";


/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  IMPORT Plugins And Other CSS files END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DEFAULT Stylesheets START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


    article,
    aside,
    audio,
    canvas,
    command,
    datalist,
    details,
    embed,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    keygen,
    meter,
    nav,
    output,
    progress,
    section,
    source,
    video{
        display:block;
    }
    mark,
    rp,
    rt,
    ruby,
    summary,
    time{
        display:inline;
    }
    span,
    img,
    a{
       display: inline-block; 
    }

    html {width:100%;}

    body {
        font-family: 'SegoeUI-Regular', Arial, Helvetica, sans-serif;
        font-size:15px;
        font-weight: 400;
        line-height: 1.2;
        color:#000;
        min-width:320px;
        background-color: #FFF;
        -webkit-text-size-adjust: none;
    }
    img{
        max-width: 100%;
        height: auto;
        display: inline-block;
    }
    *{
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
    hr{
        border: none;
        border-top: 1px solid #ddd;
        margin: 0;
    }
    hr.h1{
        border: none;
        border-top: 1px solid #b1b1b1;
        margin: 0;
    }
    hr.h2{
        border: none;
        border-top: 1px solid #e5e5e5;
        margin: 0;
    }
    .main{
        max-width: 1140px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 9px;
        padding-right: 9px;
    }
    .detect_scroll_width{
        position:absolute;
        top:-9999px; 
        width:50px;
        height:50px;
        overflow:scroll;
    }

/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DEFAULT Stylesheets END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BASIC classes main START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  
<================================================*/




        /*=======================>  TOUCH hacks START  <=======================*/


            input,
            textarea,
            button{
                -webkit-appearance: none;
                -webkit-border-radius:0; 
                border-radius:0;
                outline:none;
            }


        /*=======================>  POSITIONS blocks (float:) START  <=======================*/
            

            .f_left {float:left;}
            .f_right {float:right;}
            .f_none {float:none;}


        /*=======================>  POSITIONS text (text-align:) START  <=======================*/


            .al_left{text-align: left;}
            .al_right{text-align:right;}
            .al_center{text-align:center;}
            .al_justify{text-align:justify;}


        /*=======================>  VERTICALLY align boxs (vertical-align:) START  <=======================*/
        

            .val_mid{vertical-align: middle;}
            .val_bot{vertical-align: bottom;}
            .val_top{vertical-align: top;}
        

        /*=======================>  INDENTS Zero !IMPORTANT START  <=======================*/


            .m_t_zero{ margin-top:0 !important;}
            .m_b_zero{ margin-bottom:0 !important;}
            .m_r_zero{ margin-right:0 !important;}
            .m_l_zero{ margin-left:0 !important;}
            .p_t_zero{ padding-top:0 !important;}
            .p_b_zero{ padding-bottom:0 !important;}
            .p_r_zero{ padding-right:0 !important;}
            .p_l_zero{ padding-left:0 !important;}


        /*=======================>  POSITIONS (position:) START  <=======================*/
            

            .p_abs{position: absolute;}
            .p_rel{position: relative;}
            .p_fix{position: fixed;}
            .p_static{position: static;}

            .full_abs{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: block;
                z-index: 9;
            }


        /*=======================>  ZEROING float START  <=======================*/


            .clear {
                clear:both;
                width:100%;
                line-height:0;
                font-size:0;
            }

            .clearfix:after {
              content: "";
              display: block;
              height: 0;
              clear: both;
              visibility: hidden;
            }

            .wrapper {overflow:hidden;}


        /*=======================>  DISPLAYS (dispay:) START  <=======================*/


            .d_block{ display:block;}
            .d_ib{ display:inline-block;}
            .d_none,
            .collection_container_checkbox_list_sub{ display:none;}
            .d_t{ display:table;}
            .d_row{ display:table-row;}
            .d_tc{ display:table-cell;}


        /*=======================>  LINKS And BUTTONS START  <=======================*/


            * a,
            * button{
                cursor: pointer;
                outline:none !important;
            }
            a {
                color: #1b1412;
                outline:none;
                text-decoration:none;
                display: inline-block;
            }
            a:hover{
                text-decoration:underline;
                color: #1b1412;
            }
            [class*="btn_white_"]{
                padding: 10px 31px;
                font-size: 15px;
                font-weight: 400;
                line-height: 18px;
                -webkit-border-radius: 0px;
                        border-radius: 0px;
                border: 1px solid #424242;
                color: #000;
                background-color: #FFF;
            }
            [class*="btn_white_"]:hover{
                background-color: #323232;
                color: #fff;
                text-decoration:none;
            }
            [class*="btn_black_"]{
                padding: 10px 31px;
                font-size: 15px;
                font-weight: 400;
                line-height: 18px;
                -webkit-border-radius: 0px;
                        border-radius: 0px;
                border: 1px solid #424242;
                color: #fff;
                background-color: #323232;
            }
            [class*="btn_black_"]:hover{
                background-color: #fff;
                color: #000;
                text-decoration:none;
            }


        /*======================>>  HOVERS TRANSITION START <<======================*/


                a,
                button{
                    -webkit-transition: all 0.7s ease;
                    -moz-transition: all 0.7s ease;
                    -o-transition: all 0.7s ease;
                    transition: all 0.7s ease;
                }
                a:hover,
                button{
                    -webkit-transition: all 0.1s ease;
                    -moz-transition: all 0.1s ease;
                    -o-transition: all 0.1s ease;
                    transition: all 0.1s ease;
                }


        /*======================>  TITLES START  <======================*/
            

            h1,h2,h3,h4,h5,h6{
                font-weight:normal;
                margin-bottom: 20px;
            }
            
            .title{
                font-size: 32px;
                line-height: 1.2;
                color:#1b1412;
                text-align: center;
                position: relative;
                padding-bottom: 7px;
            }
              .title:before{
                position: absolute;
                width: 50px;
                height: 1px;
                content: "";
                background: #b1b1b1;
                bottom: 0;
                left: 50%;
                margin-left: -25px;
              }

            .title1{
                font-size: 22px;
                line-height: 1.2;
                color:#000;
            }

            .title2{
                font-size: 17px;
                line-height: 1.2;
                color:#787878;
            }
            .title3{
                font-size: 26px;
                font-weight: 300;
                line-height: 1.2;
                color:#1b1412;
                text-align: center;
                position: relative;
                padding-bottom: 7px;
            }
                .title3:before{
                    position: absolute;
                    width: 50px;
                    height: 1px;
                    content: "";
                    background: #b1b1b1;
                    bottom: 0;
                    left: 50%;
                    margin-left: -25px;
                }

            .it{font-style:italic;}

            .let{letter-spacing:-1px;}

            .reg {text-transform:uppercase;}

            .td_und{text-decoration: underline;}
            .td_und:hover{text-decoration: none;}

            .td_und_no{text-decoration: none;}
            .td_und_no:hover{text-decoration: underline;}

            .td_no{text-decoration: none !important;}


        /*=======================>  BACKGROUNDS START  <=======================*/


            .bg_none{ background:none !important;}
            .bg_black{background-color: #000;}
            .bg_white{background-color: #fff;}

            .btn_gray{
                background-color: gray;
            }

        /*=======================>  COLORS START  <=======================*/


            .white{ color: #FFF;}
            .black{ color: #000;}


        /*======================>  GOOGLE FONTS START  <======================*/
        
            .segoi_reg{font-family:'SegoeUI-Regular';}
            .segoi_semibold{font-family:'SegoeUI-SemiBold';}
            .segoi_light{font-family:'SegoeUI-Light';}
            .calibri{font-family:'Calibri-Regular';}
            .liana{font-family:'LainyDay-Regular';}
            


        /*======================>  INSTALL FONTS START  <======================*/
        

            @font-face {
                font-family:'SegoeUI-Regular';
                src: url('../fonts/SegoeUI_gdi.eot');
                src: url('../fonts/SegoeUI_gdi.eot?#iefix') format('embedded-opentype'),
                    url('../fonts/SegoeUI_gdi.woff') format('woff'),
                    url('../fonts/SegoeUI_gdi.ttf') format('truetype'),
                    url('../fonts/SegoeUI_gdi.svg#SegoeUI-Regular') format('svg');
                font-weight: 400;
                font-style: normal;
                font-stretch: normal;
                unicode-range: U+0020-2666;
            }
            @font-face {
                font-family:'SegoeUI-SemiBold';
                src: url('../fonts/SegoeUI-SemiBold_gdi.eot');
                src: url('../fonts/SegoeUI-SemiBold_gdi.eot?#iefix') format('embedded-opentype'),
                    url('../fonts/SegoeUI-SemiBold_gdi.woff') format('woff'),
                    url('../fonts/SegoeUI-SemiBold_gdi.ttf') format('truetype'),
                    url('../fonts/SegoeUI-SemiBold_gdi.svg#SegoeUI-SemiBold') format('svg');
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                unicode-range: U+0020-2666;
            }
            @font-face {
                font-family:'SegoeUI-Light';
                src: url('../fonts/SegoeUI-Light_gdi.eot');
                src: url('../fonts/SegoeUI-Light_gdi.eot?#iefix') format('embedded-opentype'),
                    url('../fonts/SegoeUI-Light_gdi.woff') format('woff'),
                    url('../fonts/SegoeUI-Light_gdi.ttf') format('truetype'),
                    url('../fonts/SegoeUI-Light_gdi.svg#SegoeUI-Light') format('svg');
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                unicode-range: U+000D-2666;
            }
            @font-face {
                font-family:'Calibri-Regular';
                src: url('../fonts/Calibri_gdi.eot');
                src: url('../fonts/Calibri_gdi.eot?#iefix') format('embedded-opentype'),
                    url('../fonts/Calibri_gdi.woff') format('woff'),
                    url('../fonts/Calibri_gdi.ttf') format('truetype'),
                    url('../fonts/Calibri_gdi.svg#Calibri-Regular') format('svg');
                font-weight: 400;
                font-style: normal;
                font-stretch: normal;
                unicode-range: U+000D-25CA;
            }
            @font-face {
                font-family:'LainyDay-Regular';
                src: url('../fonts/LainyDay_gdi.eot');
                src: url('../fonts/LainyDay_gdi.eot?#iefix') format('embedded-opentype'),
                    url('../fonts/LainyDay_gdi.woff') format('woff'),
                    url('../fonts/LainyDay_gdi.ttf') format('truetype'),
                    url('../fonts/LainyDay_gdi.svg#LainyDay-Regular') format('svg');
                font-weight: 400;
                font-style: normal;
                font-stretch: normal;
                unicode-range: U+0020-2122;
            }


        /*======================>  VISIBILITY START  <======================*/
        

            .visible{
                visibility: visible;
            }
            .invisible{
                visibility: hidden;
            }


        /*======================>  TEXTAFIELD (placeholder animation) START  <======================*/
        
            /*===  input start  ===*/
            input.invalid,
            textarea.invalid,
            .jq-selectbox.invalid .jq-selectbox__select{
                border: 2px solid red;    
            }

            input::-webkit-input-placeholder{
                line-height: 1.2;   
                transition: text-indent 0.8s ease;
                font-family: 'SegoeUI-Regular', Arial, Helvetica, sans-serif;
                color: #787878;
                font-size: 15px;
                text-indent: 0px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input::-moz-placeholder{
                line-height: 1.2;   
                transition: text-indent 0.8s ease;
                font-family: 'SegoeUI-Regular', Arial, Helvetica, sans-serif;
                color: #787878;
                font-size: 15px;
                text-indent: 0px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input:-moz-placeholder{
                line-height: 1.2;   
                
                transition: text-indent 0.8s ease;
                font-family: 'SegoeUI-Regular', Arial, Helvetica, sans-serif;
                color: #787878;
                font-size: 15px;
                text-indent: 0px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input:-ms-input-placeholder{
                line-height: 1.2;   
                transition: text-indent 0.8s ease;
                font-family: 'SegoeUI-Regular', Arial, Helvetica, sans-serif;
                color: #787878;
                font-size: 15px;
                text-indent: 0px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }

            input:focus::-webkit-input-placeholder {
                text-indent: 500px;
                transition: text-indent 0.8s ease;
            }
            input:focus::-moz-placeholder{
                text-indent: 500px;
                transition: text-indent 0.8s ease;
            }
            input:focus:-moz-placeholder{
                text-indent: 500px;
                transition: text-indent 0.8s ease;
            }
            input:focus:-ms-input-placeholder{
                text-indent: 500px;
                transition: text-indent 0.8s ease;
            }
            /*===  input end    ===*/
            
            /*===  textarea start  ===*/
            textarea::-webkit-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: 'SegoeUI-Regular', Arial, Helvetica, sans-serif;
                color: #787878;
                font-size: 15px;
            }
            textarea::-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: 'SegoeUI-Regular', Arial, Helvetica, sans-serif;
                color: #787878;
                font-size: 15px;
            }
            textarea:-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: 'SegoeUI-Regular', Arial, Helvetica, sans-serif;
                color: #787878;
                font-size: 15px;
            }
            textarea:-ms-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: 'SegoeUI-Regular', Arial, Helvetica, sans-serif;
                color: #787878;
                font-size: 15px;
            }

            textarea:focus::-webkit-input-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            textarea:focus::-moz-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            textarea:focus:-moz-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            textarea:focus:-ms-input-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            /*===  textarea end    ===*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BASIC classes main END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  HEADER START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    #header {
        
    }


        .header_top_container{
            min-height: 50px;
            background-color: #f4f4f4;
            padding: 9px;
        }
            .header_top_left_link_box{

            }
                .header_top_left_link{
                    margin-left: 20px;
                    color: #1b1412;
                    font-size: 14px;
                    line-height: 26px;
                }
                [data-icon="smile"]{
                    padding-right: 17px;
                    background: url(../images/icon/smile_icon.png) 100% 50% no-repeat;
                }

            
            .header_top_right_box{
                
            }
                .search_box{
                    position: relative;
                    height: 31px;
                    width: 226px;
                    overflow: hidden;
                    float: left;
                    margin-right: 23px;
                }
                    .search_box .input_field{
                        height: 31px;   
                        width: 226px;
                        background-color: #FFF;
                        border: 1px solid #ddd;
                        -webkit-transition: all ease 0.7s;
                           -moz-transition: all ease 0.7s;
                            -ms-transition: all ease 0.7s;
                             -o-transition: all ease 0.7s;
                                transition: all ease 0.7s;
                        padding: 5px 45px 5px 5px;
                        opacity: 0;
                        visibility: hidden;
                    }
                    .search_box:hover .input_field,
                    .search_box.focused_parent  .input_field{
                        opacity: 1;
                        visibility: visible;
                    }
                    .search_box .header_top_right_box_link{
                        /*float: none;*/
                    }
                    .header_top_right_box_link{
                        /*float: left;*/
                    }
                    [data-search="search"]{
                        background: url(../images/icon/search_icon.png) 50% 50% no-repeat;
                        width: 45px;
                        height: 31px;
                        position: absolute;
                        top: 0;
                        right: 0;
                        display: block;
                    }
                    [data-search="search"]:hover{
                        opacity: 0.6;
                        /*background-color: #F4F4F4;*/
                    }
                .authorise_box{
                    float: left;
                    margin-right: 26px; 
                }
                    [data-authorise="authorise"]{
                        background: url(../images/icon/login_icon.png) 50% 50% no-repeat;
                        width: 26px;
                        height: 31px;
                    }
                    .authorise_box:hover [data-authorise="authorise"]{
                        background: url(../images/icon/login_icon_hover.png) 50% 50% no-repeat;
                    }
                .basket_box{
                    float: left;
                    position: relative;
                    margin-right: 11px;
                }
                    [data-basket="basket"]{
                        position: relative;
                        background: url(../images/icon/basket_icon.png) 50% 50% no-repeat;
                        width: 26px;
                        height: 31px;
                    }
                        [data-basket="basket"]:after{
                            position: absolute;
                            content: attr(data-number);
                            -webkit-border-radius: 50%;
                                    border-radius: 50%;
                            bottom: -3px;
                            right: -10px;
                            width: 17px;
                            height: 17px;
                            background-color: #323232;
                            text-align: center;
                            font-size: 11px;
                            line-height: 17px;
                            font-weight: 400;
                            color: #FFF;
                            font-family:'Calibri-Regular';
                        }

                    .basket_show_box{
                        position: absolute;
                        top: 100%;
                        margin-top: 10px;
                        right: -17px;
                        background-color: #FFF;
                        padding: 12px 10px 17px 10px;
                        width: 333px;
                        min-height: 130px;
                        border: 1px solid #ddd;
                        -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
                                box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
                        font-size: 15px;
                        line-height: 18px;
                        -webkit-transform: translateY(10px);
                           -moz-transform: translateY(10px);
                            -ms-transform: translateY(10px);
                             -o-transform: translateY(10px);
                                transform: translateY(10px);
                        -webkit-transition: all ease-in 0.1s;
                           -moz-transition: all ease-in 0.1s;
                            -ms-transition: all ease-in 0.1s;
                             -o-transition: all ease-in 0.1s;
                                transition: all ease-in 0.1s;
                        visibility: hidden;
                        opacity: 0;
                        z-index: 9;
                    }
                    .basket_box:hover .basket_show_box{
                        visibility: visible;
                        opacity: 1;
                        -webkit-transform: translateY(0px);
                           -moz-transform: translateY(0px);
                            -ms-transform: translateY(0px);
                             -o-transform: translateY(0px);
                                transform: translateY(0px);
                        -webkit-transition: all ease-in 0.2s;
                           -moz-transition: all ease-in 0.2s;
                            -ms-transition: all ease-in 0.2s;
                             -o-transition: all ease-in 0.2s;
                                transition: all ease-in 0.2s;
                    }
                        .basket_show_box:before{
                            position: absolute;
                            content: "";
                            top: -15px;
                            left: 0;
                            width: 100%;
                            padding-top: 20px;
                        }
                        .basket_show_box_it1{
                            
                        }
                            .btn_white_basket,
                            .btn_black_basket{
                                margin-top: 11px;   
                                width: 100%;
                            }

                        .basket_show_box_it2{
                            
                        }
                            .vertical_slider_container{
                                max-height: 276px;
                                overflow: hidden;
                                padding-top: 20px;
                                padding-bottom: 20px;
                            }
                            .vertical_slider_container.current{
                                padding-bottom: 0;
                                padding-top: 0;
                            }
                                .vertical_slider_container.current li:last-child .vertical_slider_box_it{
                                    border-bottom: none;
                                }
                            .vertical_slider_container .bx-wrapper{
                                border-top: 1px solid #ddd;
                                margin: 0;
                            }
                                .vertical_slider_container ul{
                                    
                                }
                                    .vertical_slider_container li{
                                    
                                    }
                                        .vertical_slider_box_it{
                                            height: 113px;
                                            padding: 10px 0 20px 0;
                                            border-bottom: 1px solid #ddd;
                                        }
                                            .vertical-close:hover{
                                                opacity: 0.8;
                                            }
                                            .vertical_slider_img{
                                                float: left;
                                                width: 107px;
                                                height: 82px;
                                                margin-right: 14px;
                                                text-align: center;
                                                vertical-align: middle;
                                                background-color: #FFF;
                                            }
                                                .vertical_slider_img img{
                                                    max-width: 100%;
                                                    height: auto;
                                                    display: inline-block;
                                                    vertical-align: middle;
                                                }
                                            .vertical_slider_text{
                                                position: relative;
                                                height: 100%;
                                                width: calc(100% - 121px);
                                                float: left;
                                            }
                                                .vertical-close{
                                                    background: url(../images/icon/vertical-close.png) 50% 50% no-repeat;
                                                    width: 11px;
                                                    height: 11px;
                                                    top: 1px;
                                                    right: 0px;
                                                    position: absolute;
                                                    cursor: pointer;
                                                }
                                                .vertical_slider_title{
                                                    font-size: 15px;
                                                    line-height: 16px;
                                                    margin-bottom: 12px;
                                                }
                                                .vertival_product_info{
                                                    font-size: 13px;
                                                    line-height: 15px;
                                                    color: #787878;
                                                }
                                                    .vertical_product_articul{
                                                        
                                                    }
                                                    .vertical_product_number{
                                                        
                                                    }

                                                .vertical_cost{
                                                    position: absolute;
                                                    font-size: 14px;
                                                    line-height: 16px;
                                                    right: 23px;
                                                    bottom: -13px;
                                                    text-transform: uppercase;
                                                }

                            .cash_box_basket{
                                border: 1px solid #ddd;
                                border-left: none;
                                border-right: none;
                                font-size: 15px;
                                line-height: 18px;
                                padding: 9.5px 23px 9.5px 15px;
                            }



        .header_bottom_container{
            padding-bottom: 11px;
        }
            .logo{
              margin: 40px 0 31px 0;
            }
                .logo a{
                    display:block;
                    width:239px;
                    height:69px;
                    margin: auto;
                    background:url(../images/logo.png) 0 0 no-repeat;
                    text-decoration:none;
                    text-indent:-9999px;
                    font-size: 0;
                }

            .navigation_menu{
                
            }
                .menu{
                    text-align: center;
                }
                    .menu_item{
                        display: inline-block;
                        position: relative;
                        padding: 0 11.5px;
                    }
                        .menu_link{
                            font-size: 16px;
                            line-height: 20px;   
                            padding: 0 15px 0 15px;
                            position: relative;
                        }
                        .menu_item.current .menu_link,
                        .menu_item:hover .menu_link{
                            text-decoration: underline;
                        }
                            .dropdown_arrow{
                                position: absolute;
                                top: 50%;
                                right: 0;
                                -webkit-transform: translateY(-50%);
                                   -moz-transform: translateY(-50%);
                                    -ms-transform: translateY(-50%);
                                     -o-transform: translateY(-50%);
                                        transform: translateY(-50%);
                                height: 6px;
                            }
                                .dropdown_arrow_item{
                                    border-left: 4px solid transparent;
                                    border-right: 4px solid transparent;
                                    border-top: 5px solid #000;       
                                }
                        .dropdown_menu{
                            text-align: left;
                            max-width: 164px;
                            min-height: 194px;
                            background-color: #fff;
                            padding: 22px 20px 15px 20px;
                            -webkit-box-shadow: 0 0 7px rgba(33, 29, 30, 0.2);
                                    box-shadow: 0 0 7px rgba(33, 29, 30, 0.2);
                            position: absolute;
                            top: 100%;
                            right: 0;
                            margin-top: 11px;
                            -webkit-transform: translateY(10px);
                               -moz-transform: translateY(10px);
                                -ms-transform: translateY(10px);
                                 -o-transform: translateY(10px);
                                    transform: translateY(10px);
                            -webkit-transition: all ease-in 0.1s;
                               -moz-transition: all ease-in 0.1s;
                                -ms-transition: all ease-in 0.1s;
                                 -o-transition: all ease-in 0.1s;
                                    transition: all ease-in 0.1s;
                            z-index: -1;
                            visibility: hidden;
                            opacity: 0;
                        }
                    .menu_item:hover .dropdown_menu{
                        visibility: visible;
                        opacity: 1;
                        z-index: 99;
                        -webkit-transform: translateY(0);
                           -moz-transform: translateY(0);
                            -ms-transform: translateY(0);
                             -o-transform: translateY(0);
                                transform: translateY(0);
                        -webkit-transition: all ease-in 0.2s;
                           -moz-transition: all ease-in 0.2s;
                            -ms-transition: all ease-in 0.2s;
                             -o-transition: all ease-in 0.2s;
                                transition: all ease-in 0.2s;
                    }
                            .dropdown_menu:before{
                                content: "";
                                position: absolute;
                                top: -15px;
                                left: 0;
                                width: 100%;
                                padding-top: 25px;
                                background-color: transparent;
                            }
                            .dropdown_menu_list{
                                
                            }
                                .dropdown_menu_list_it{
                                    padding: 13px 0;
                                }
                                .dropdown_menu_list_it:first-child{
                                    padding-top: 3px;
                                }
                                .dropdown_menu_list_it:last-child{
                                    padding-bottom: 0px;
                                }
                                    .dropdown_menu_list_link{
                                        font-size: 15px;
                                        line-height: 18px;
                                        color: #424242;
                                    }
                        




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  HEADER END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  CONTENT START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    #content {
        padding: 22px 0px 100px 0px; 
        min-height: 600px;
        /*min-height: 1500px;*/
    }

    /*======================>  HOME PAGE START  <======================*/

        .home_slider_container{
            max-height: 421px;
            overflow: hidden;
            margin-bottom: 22px;
        }
            .main_slider{
                
            }
            .main_slider .owl-buttons{
                display: none;
            }
            .main_slider .owl-pagination{
                display: block;
            }
            .item.item_img_block{
                
            }
                .item.item_img_block img{
                    
                }


        .about_me_container{
            border: 1px solid #e5e5e5;
            padding: 40px 0px 30px 0px;
            text-align: center;
            color: #424242;
            font-size: 15px;
            line-height: 23px;
            margin-bottom: 35px;
        }
            .about_me_img_container{
                width: 318px;
                height: auto;
                max-width: 100%;   
                margin: auto;
                overflow: hidden;
                margin-bottom: 48px;
            }
                .about_me_img_container img{
                    
                }
            .subscribe_text{
                color: #1b1412;
                font-size: 29px;
                font-weight: 400;
                line-height: 30px;
            }

        .product_news{
            max-height: 428px;
            overflow: hidden;
            padding: 0px 66px 3px 66px;
            margin-bottom: 35px;
            border-bottom: 1px solid #e5e5e5;
        }
            .product_news_item{
                margin: 0 -9px;                
            }
                .product_news_slider{

                }
                    .product_news_slider.owl-carousel .owl-item{
                        padding: 0 9px 5px; 
                    }
                    .product_news_slider.owl-carousel .owl-pagination{
                        
                    }   
                    .product_news_slider.owl-carousel .owl-buttons,
                    .recommend_slider.owl-carousel .owl-buttons{
                        display: block;
                    }
                    .product_news_figure{
                        width: 234px;
                        float: left;
                        border: 1px solid #e5e5e5;
                        border-bottom: none;
                        background-color: #FFF;
                        position: relative;
                        cursor: pointer;
                    }
                        .product_news_figure:hover{
                            -webkit-box-shadow: 0 3px 10px rgba(33, 29, 30, 0.15);
                                    box-shadow: 0 3px 10px rgba(33, 29, 30, 0.15);
                            -webkit-transition: box-shadow ease-in 0.2s;
                               -moz-transition: box-shadow ease-in 0.2s;
                                -ms-transition: box-shadow ease-in 0.2s;
                                 -o-transition: box-shadow ease-in 0.2s;
                                    transition: box-shadow ease-in 0.2s;
                        }
                        .product_news_figure_item{
                            padding-bottom: 48px;
                        }
                        .product_news_figure_item .full_abs{
                            bottom: 48px;   
                        }
                            .product_news_figure_item:before,
                            .product_news_figure_item:after{
                                content: "";
                                position: absolute;
                                bottom: 0;
                                border-left: 1px solid #fff;
                                height: 48px;
                            }
                            .product_news_figure_item:before{
                                left: -1px;
                            }
                            .product_news_figure_item:after{
                                right: -1px;
                            }
                                .product_news_figure:hover .product_news_figure_item:before, 
                                .product_news_figure:hover .product_news_figure_item:after{
                                    display: none;
                                }
                            .product_news_img_box{
                                
                            }
                                .product_news_img_box img{
                                    
                                }

                            .product_news_text_box{
                                text-align: center;
                                padding: 12px 5px 10px 5px;
                                height: 98px;
                                border-top: 1px solid #e5e5e5;
                                border-bottom: 1px solid #e5e5e5;
                                position: relative;
                            }
                                .product_news_title{
                                    font-size: 17px;
                                    line-height: 20px;
                                    margin-bottom: 0;
                                }
                                .product_news_cost{
                                    color: #787878;
                                    line-height: 21px;
                                    font-size: 17px;
                                    position: absolute;
                                    bottom: 12px;
                                    left: 0;
                                    right: 0;
                                }

                            .product_news_footer_link{
                                height: 48px;
                                border: 1px solid #e5e5e5;
                                border-top: none;
                                /*padding: 0 68px;*/
                                position: absolute;
                                bottom: 0;
                                left: -1px;
                                right: -1px;
                                visibility: hidden;
                                opacity: 0;
                            }
                                .product_news_figure:hover .product_news_footer_link{
                                    visibility: visible;
                                    opacity: 1;
                                    -webkit-transition: opacity , visibility ease-in 0.3s;
                                       -moz-transition: opacity , visibility ease-in 0.3s;
                                        -ms-transition: opacity , visibility ease-in 0.3s;
                                         -o-transition: opacity , visibility ease-in 0.3s;
                                            transition: opacity , visibility ease-in 0.3s;
                                }
                                .product_news_footer_link_it{
                                    height: 47px;
                                    width: 96px;
                                    margin: auto;
                                }
                                    .product_news_footer_link a{
                                        width: 48px;
                                        height: 100%;
                                        display: block;
                                        float: left;
                                        text-align: center;
                                        border-left: 1px solid #e5e5e5;
                                        border-right: 1px solid #e5e5e5;
                                        position: relative;
                                    }
                                    .product_news_footer_link a:last-child{
                                        border-left: none;
                                    }
                                        [data-product-img="eyes"]:after{
                                            content: "";
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            -webkit-transform: translateY(-50%) translateX(-50%);
                                            -ms-transform: translateY(-50%) translateX(-50%);
                                            -o-transform: translateY(-50%) translateX(-50%);
                                            transform: translateY(-50%) translateX(-50%);
                                            background-repeat: no-repeat;
                                            background-image: url(../images/icon/eyes_icon.png);
                                            background-position: 0px 0px;
                                            width: 21px;
                                            height: 11px;
                                        }
                                            [data-product-img="eyes"]:hover{
                                                background-color: #323232;
                                            }
                                            [data-product-img="eyes"]:hover:after{
                                                background-position: 0px -29px;
                                            }
                                        [data-product-img="basket"]:after{
                                            content: "";
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            -webkit-transform: translateY(-50%) translateX(-50%);
                                            -ms-transform: translateY(-50%) translateX(-50%);
                                            -o-transform: translateY(-50%) translateX(-50%);
                                            transform: translateY(-50%) translateX(-50%);
                                            background-repeat: no-repeat;
                                            background-image: url(../images/icon/bascet_icon.png);
                                            background-position: 0px 0px;
                                            width: 21px;
                                            height: 19px;
                                        }
                                            [data-product-img="basket"]:hover{
                                                background-color: #000000;
                                            }
                                            [data-product-img="basket"]:hover:after{
                                                background-position: 0px -37px;
                                            }
            
            .recommend_collections{
                padding: 0px 66px 40px 66px;
                border-bottom: 1px solid #e5e5e5;
                margin-bottom: 35px;
                max-height: 443px;
                overflow: hidden;
            }
                .recommend_collections_item{
                    margin: 0 -9px;
                }
                    .recommend_collections_slider{
                        
                    }
                        .recommend_slider.owl-carousel .owl-buttons div{
                            -webkit-transform: translateY(-50%);
                               -moz-transform: translateY(-50%);
                                -ms-transform: translateY(-50%);
                                 -o-transform: translateY(-50%);
                                    transform: translateY(-50%);
                        }
                        .recommend_collections_slider .owl-item{
                            padding: 0 9px 10px 9px;
                        }
                        .recommend_slider_item{
                            float: left;
                            width: 318px;
                            border: 1px solid #e5e5e5;
                            position: relative;
                        }
                        .recommend_slider_item:hover{
                            -webkit-box-shadow: 0 3px 10px 1px rgba(33, 29, 30, 0.15);
                                    box-shadow: 0 3px 10px 1px rgba(33, 29, 30, 0.15);
                        }
                            .recommend_slider_img{
                                
                            }
                                .recommend_slider_img img{
                                
                                }
                            .recommend_slider_text{
                                border-top: 1px solid #e5e5e5;
                                height: 52px;
                                text-align: center;
                                font-size: 19px;
                                line-height: 52px;
                                color: #000;
                            }


            .reviews_container{
                
            }
                .reviews_figure{
                    /*width: 318px;*/
                    text-align: center;
                }
                    .reviews_img_box{
                        margin-bottom: 30px;
                    }
                        .reviews_img_box img{
                            
                        }

                    .reviews_text_box{
                        padding: 0 15px;
                    }
                        .reviews_title{
                            font-size: 19px;
                            line-height: 22px;
                            color: #000;
                            margin-bottom: 5px;
                        }
                        .reviews_date{
                            font-size: 14px;
                            line-height: 16px;
                            color: #787878;
                            margin-bottom: 20px;
                            display: block;
                        }
                        .reviews_text_rev{
                            font-size: 15px;
                            line-height: 19px;
                            color: #000;
                            margin-bottom: 15px;
                        }
                        .reviews_name{
                            font-size: 15px;
                            line-height: 19px;
                            color: #000;   
                        }


    /*======================>  HOME PAGE END    <======================*/
    /*======================>  COLLECTION START  <======================*/
            [data-bgimg-collection="bg3"] {
                    background: #f9f9f9 url(../images/block_text_bg3.png) 100% 0 no-repeat;
            }
            .collect_container{
                
            }
                .product_collection_container{
                    padding-bottom: 50px;
                    border-bottom: 1px solid #e5e5e5;
                    margin-bottom: 40px;
                }
                    .product_news_collection{
                        margin: 0 -9px 2px;
                    }
                        .product_news_collection .product_news_figure{
                            /*margin: 0 9px 30px 9px;*/
                            margin: -20px 1.19% 0px;
                            width: 30.95%;
                        }
                        .product_news_collection .product_news_figure:hover{
                            z-index: 99;
                        }
                        .product_news_collection .product_news_figure:nth-child(1),
                        .product_news_collection .product_news_figure:nth-child(2),
                        .product_news_collection .product_news_figure:nth-child(3){
                            margin-top: 0;
                        }
                    .product_news_collection_btnShow{
                        text-align: center;   
                    }
                .coll_box{
                    
                }
                .recommend_collections2{
                    margin-bottom: 30px;
                }
                    .recommend_collections_item2{
                        margin: 0 -9px 50px -9px;
                    }
                        .recommend_collections_item2 .recommend_slider_item{
                            width: 30.95%;
                            /*margin: 0 9px 30px 9px;*/
                            margin: 0 1.19% 30px;
                        }
                        .recommend_collections_item2 .recommend_slider_text{
                            position: relative;
                        }
                        .recommend_collections_item2 .recommend_slider_item:nth-last-of-type(1),
                        .recommend_collections_item2 .recommend_slider_item:nth-last-of-type(2),
                        .recommend_collections_item2 .recommend_slider_item:nth-last-of-type(3){
                            margin-bottom: 0;
                        }



    /*======================>  COLLECTION END    <======================*/


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  CONTENT END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FOOTER START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    #footer {

    }
        .footer_container{
            padding-top: 30px;
            padding-bottom: 16px;
        }
            .social_footer_container{
                text-align: center;
                margin-bottom: 28px;
            }
                .social_footer_container_link{
                    width: 35px;
                    height: 35px;
                    -webkit-border-radius: 50%;
                            border-radius: 50%;
                    overflow: hidden;
                    margin: 0 7px;
                    display: inline-block;
                    background-image: url(../images/icon/footer_social_icons.png);
                    background-repeat: no-repeat;
                    -webkit-transition: none !important;
                       -moz-transition: none !important;
                        -ms-transition: none !important;
                         -o-transition: none !important;
                            transition: none !important;
                }
                    [data-soc-icon="instagram"]{
                        background-position: 0 -40px;
                    }
                        [data-soc-icon="instagram"]:hover{
                            background-position: 0 0;
                        }
                    [data-soc-icon="facebook"]{
                        background-position: -45px -40px;
                    }
                        [data-soc-icon="facebook"]:hover{
                            background-position: -45px 0px;
                        }
                    [data-soc-icon="twetter"]{
                        background-position: -93px -40px;
                    }
                        [data-soc-icon="twetter"]:hover{
                            background-position: -93px 0px;
                        }
                    [data-soc-icon="painterest"]{
                        background-position: -137px -40px;
                    }
                        [data-soc-icon="painterest"]:hover{
                            background-position: -137px 0px;
                        }

            .copyright_development{
                color: #424242;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
            }
                .copyright_development a{
                    font-size: 14px;
                    color: #424242;
                    line-height: 16px;
                }

        

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FOOTER END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ANCHOR START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    #ahchor{
        
    }
        .arrow_up {
            position: fixed;
            z-index: 99;
            right: 70px;
            bottom: 100px;
            visibility: hidden;
            opacity: 0;
            height: 37px;
            width: 37px;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            overflow: hidden;
            cursor: pointer;
            -webkit-transition: all linear 0.2s;
               -moz-transition: all linear 0.2s;
                -ms-transition: all linear 0.2s;
                 -o-transition: all linear 0.2s;
                    transition: all linear 0.2s;
            text-align: center;
            text-decoration: none !important;
        }
            .arrow_up span{
                -webkit-border-radius: 50%;
                        border-radius: 50%;
                display: block;
                height: 37px;
                width: 37px;
                background: url(../images/icon/arrow_fixed.png) -1px 50% no-repeat;
            }
        .arrow_up.active span{
            opacity: 0.6;
            visibility: visible;
        }
        .arrow_up.active:hover span,
        .arrow_up.active:active span{
            opacity: 1;
            visibility: visible;
        }
            .arrow_up:hover,
            .arrow_up.click{
                opacity: 1;
                -webkit-transition: all ease-in 0.2s;
                   -moz-transition: all ease-in 0.2s;
                    -ms-transition: all ease-in 0.2s;
                     -o-transition: all ease-in 0.2s;
                        transition: all ease-in 0.2s;
            }


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ANCHOR END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/